<div class="portal" id="portalScreen">
    <pre class="ascii-header">
    █████                       ████████      █████                                                      
    ░░███                       ███░░░░███    ░░███                                                       
  ███████   ██████   █████ ████░░░    ░███  ███████   ██████   █████ ████     ██████  █████ █████  ██████ 
 ███░░███  ░░░░░███ ░░███ ░███    ███████  ███░░███  ░░░░░███ ░░███ ░███     ███░░███░░███ ░░███  ███░░███
░███ ░███   ███████  ░███ ░███   ███░░░░  ░███ ░███   ███████  ░███ ░███    ░███████  ░░░█████░  ░███████ 
░███ ░███  ███░░███  ░███ ░███  ███      █░███ ░███  ███░░███  ░███ ░███    ░███░░░    ███░░░███ ░███░░░  
░░████████░░████████ ░░███████ ░██████████░░████████░░████████ ░░███████  ██░░██████  █████ █████░░██████ 
 ░░░░░░░░  ░░░░░░░░   ░░░░░███ ░░░░░░░░░░  ░░░░░░░░  ░░░░░░░░   ░░░░░███ ░░  ░░░░░░  ░░░░░ ░░░░░  ░░░░░░  
                      ███ ░███                                  ███ ░███                                  
                     ░░██████                                  ░░██████                                   
                      ░░░░░░                                    ░░░░░░                                    
    </pre>
    <p>track your day 2 day in 1 exe</p>
    <li>> <a class="skip-intro">skip intro</a></li>
</div>