html, body {
  height: 100%;
  margin: 0;
}

#app-root {
  height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0d0d0d;
  color: rgb(64,224,125);
  /* text-shadow: 0 0 10px rgb(64, 224, 125); */
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.top {
  padding: 2px;
  margin: 2px;
  width: 100%;
  border-bottom: 1px solid rgb(64,224,125);
}

.logo, .portal li {
  cursor: pointer;
}

.logo:hover, .portal li:hover {
  color: rgb(44,155,87);
}

.main-area {
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: stretch;
}

.sidebar {
  width: 200px;
  font-size: 1rem;
  border-right: 1px solid rgb(64,224,125);
  padding: 1rem;
  overflow-y: auto;
}

.portal {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  list-style: none;
}

.ascii-header {
  text-shadow: 0 0 5px rgb(64,224,125);
}

main#app {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.tree-side {
  list-style: none;
  padding: 0;
}

.tree-side li {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  white-space: pre;
  font-family: monospace;
}

.tree-side li.selected {
  background-color: rgb(64,224,125);
  color: #0d0d0d;
}

.sections {
  list-style: none;
  padding: 0;
  text-align: center;
}

.hidden {
  display: none;
}